.container {
    position: relative;
  }
  
  .card {
    position: relative;
    z-index: 2;
  }

  .imagen{
    width: 10%;
    height: 100%;
  }

  .imagencontainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
  