<div class="container-fluid text-center p-2">
  <div class="row">
    <div class="col">
      <picture class="imagencontainer img-fluid">
        <img class="imagen" src="../../assets/ajolote-logo.png" alt="logo">
      </picture>

      <div class="container mt-5">
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button" routerLink="/inicio">
              <p class="text"><img class="icon" src="../../assets/house-heart.svg">Inicio</p>
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button">
             <p class="text"><img class="icon" src="../../assets/bell.svg">Notificaciones</p> 
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button">
              <p class="text"><img class="icon" src="../../assets/envelope-open-heart.svg">Mensajes</p> 
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button">
              <p class="text"><img class="icon" src="../../assets/person.svg">Perfil</p> 
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button">
              <p class="text"><img class="icon" src="../../assets/sliders2.svg">Configuración</p> 
            </button>
          </div>
        </div>
      </div>
      
      
      
      
    </div>
    <div class="col-6">
      <div class="profile">


        <div class="main-content">
          <button class="btn btn-primary d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Toggle offcanvas</button>
      
          <div class="profile-header">
            <img class="profile-picture mt-5" src="ajolote-logo.png" alt="logo">
            <h1 class="profile-name">{{usuario.nombre_usuario}}-{{usuario.nombre_arroba}}</h1>
            <p class="profile-bio">Biografía del usuario</p>
          </div>
          <div class="timeline">
            <!-- Mensajes de otros usuarios -->
          </div>
      
      
          <div class="alert alert-info d-none d-sm-block">Resize your browser to show the responsive offcanvas toggle.</div>
          
          <div class="offcanvas-sm offcanvas-start w-50" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Responsive offcanvas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body w-100">
              <p class="mb-0">This is content within an <code>.offcanvas-lg</code>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>



