<div class="container-fluid text-center p-2">
  <div class="row">
    <div class="col">
      <picture class="imagencontainer img-fluid">
        <img class="imagen" src="../../assets/ajolote-logo.png" alt="logo">
      </picture>

      <div class="container mt-5">
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button" routerLink="/inicio">
              <p class="text"><img class="icon" src="../../assets/house-heart.svg">Inicio</p>
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button">
             <p class="text"><img class="icon" src="../../assets/bell.svg">Notificaciones</p> 
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button">
              <p class="text"><img class="icon" src="../../assets/envelope-open-heart.svg">Mensajes</p> 
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button">
              <p class="text"><img class="icon" src="../../assets/person.svg">Perfil</p> 
            </button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <button class="custom-button">
              <p class="text"><img class="icon" src="../../assets/sliders2.svg">Configuración</p> 
            </button>
          </div>
        </div>
      </div>
      
      
      
      
    </div>
    <div class="col-6">
      Columna del medio
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>



