
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-2 col-md-3 border-end ">
            <!-- <picture class="imagencontainer img-fluid">
          <img class="imagen" src="../../assets/ajolote-logo.png" alt="logo">
        </picture> -->
            <a class="btn-canva" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                <picture class="imagencontainer img-fluid">
                    <img class="imagen" src="../../assets/ajolote-logo.png" alt="logo">
                </picture>
            </a>
            <div class="desaparecer container mt-5">
                <div class="row mt-5">
                  <div class="col-12 d-flex justify-content-center">
                    <button class="custom-button" [routerLink]="['/inicio', usuario.id]">
                      <p class="text"><img class="icon" src="../../assets/house-heart.svg">Inicio</p>
                    </button>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-12 d-flex justify-content-center">
                    <button class="custom-button">
                      <p class="text"><img class="icon" src="../../assets/bell.svg">Notificaciones</p>
                    </button>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-12 d-flex justify-content-center">
                    <button class="custom-button">
                      <p class="text"><img class="icon" src="../../assets/envelope-open-heart.svg">Mensajes</p>
                    </button>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-12 d-flex justify-content-center">
                    <button class="custom-button" [routerLink]="['/perfil', usuario.id]" (click)="recargarPagina()">
                      <p class="text"><img class="icon" src="../../assets/person.svg">Perfil</p>
                    </button>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-12 d-flex justify-content-center">
                    <button class="custom-button">
                      <p class="text"><img class="icon" src="../../assets/sliders2.svg">Configuración</p>
                    </button>
                  </div>
                </div>
              </div>


            <!-- EMPIEZA EL CANVA -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                        <picture class="imagencontainer img-fluid">
                            <img class="imagen" src="../../assets/ajolote-logo.png" alt="logo">
                        </picture>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="container mt-5">
                        <div class="row mt-5">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="custom-button" [routerLink]="['/inicio', usuario.id]">
                              <p class="text"><img class="icon" src="../../assets/house-heart.svg">Inicio</p>
                            </button>
                          </div>
                        </div>
                        <div class="row mt-5">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="custom-button">
                              <p class="text"><img class="icon" src="../../assets/bell.svg">Notificaciones</p>
                            </button>
                          </div>
                        </div>
                        <div class="row mt-5">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="custom-button">
                              <p class="text"><img class="icon" src="../../assets/envelope-open-heart.svg">Mensajes</p>
                            </button>
                          </div>
                        </div>
                        <div class="row mt-5">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="custom-button" [routerLink]="['/perfil', usuario.id]" (click)="recargarPagina()">
                              <p class="text"><img class="icon" src="../../assets/person.svg">Perfil</p>
                            </button>
                          </div>
                        </div>
                        <div class="row mt-5">
                          <div class="col-12 d-flex justify-content-center">
                            <button class="custom-button">
                              <p class="text"><img class="icon" src="../../assets/sliders2.svg">Configuración</p>
                            </button>
                          </div>
                        </div>
                      </div>
                </div>
            </div>


        </div>
        <div class="col-10 col-md-6 border-end p-0">
            <div class="flex-column tweet-box border-bottom m-0">
                <div class="hero">

                <div class="header">
                    <button class="header-retroceder" title="Atras" tooltip="Atras" placement="top" [routerLink]="['/inicio', usuario.id]">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <div class="header-usuario">
                        <h3>{{usuario.nombre_usuario}}</h3>
                        <p>{{publicaciones.length}} Blabbers</p>
                    </div>

                </div>
                <div class="perfil">
                    <div class="perfil-header">
                      <div class="avatar" *ngIf="foto; else inicial" >
                        <img [src]="'assets/' + usuario.foto_perfil" alt="Avatar">
                      </div>
                      <ng-template #inicial>
                        <app-initials-avatar name="{{usuario.nombre_usuario}}"></app-initials-avatar>
                      </ng-template>
                        <button class="boton" (click)="openDialog()">Editar perfil</button>
                    </div>
                    <div class="perfil-usuario">
                        <h3>{{usuario.nombre_usuario}}</h3>
                        <p>{{usuario.nombre_arroba}}</p>
                        <br>
                        <p>{{usuario.fecha_creacion}} <mat-icon>date_range</mat-icon></p>
                        <div class="perfil-usuario_follow">
                            <p>{{usuario.seguidos}} seguidos</p>
                            <p>{{usuario.seguidores}} seguidores</p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div *ngFor="let publicacion of publicaciones">
                <div class="publicacion">
                    <div class="nombre-info">     
                            <!-- Mostrar el tiempo si no hay usuarios seguidos -->
                            <p class="nombre-info_p"><span>Publicado hace-</span> {{ getTimeElapsed(publicacion.fecha_publicacion) }}</p>
                    </div>

                    <p>{{ publicacion.contenido.mensaje }}</p>
                    <div class="imagenPublicacion">
                        <img *ngIf="publicacion.contenido.imagen !== ''" [src]="publicacion.contenido.imagen"
                        alt="Imagen de la publicación">
                    </div>
                </div>
                <hr class="hrpubli border border-2">
            </div>
        </div>
        <div class="col ultima p-0">
            <div class="container">
                <form action="" method="post">
                    <div class="container-buscador">
                        <label for="buscador" id="icono"><mat-icon>search</mat-icon></label>
                        <input type="text" name="buscador" id="buscador" placeholder="Buscar Blabber">
                    </div>
                </form>
                <div class="tendencia">
                    <h3 class="tendencia-titulo">No pasa nada</h3>

                    <mat-card class="card">
                        <mat-card-header>
                            <mat-card-title class="card-titulo">Título del Card</mat-card-title>
                            <mat-card-subtitle class="card-subtitulo">Subtítulo del Card</mat-card-subtitle>
                            <mat-card-subtitle class="card-view">Viewers</mat-card-subtitle>
                        </mat-card-header>
                        <mat-icon class="card-icono">more_horizontal</mat-icon>
                    </mat-card>


                </div>
                <nav aria-label="Footer" role="navigation" class="enlaces">
                    <a href="">Politica de privacidad</a>
                    <a href="">Politicas de Cookies</a>
                    <a href="">Accesibilidad</a>
                    <a href="">Terminos de servicios</a>
                    <a href="">Informacion de Anuncios</a>
                    <p>© 2023 X Corp.</p>
                </nav>
            </div>
        </div>
    </div>
</div>
